@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}